<div id="about_page">
	<div>
		<h1>Voyage<h1>
	</div>
	
	<div class="BlogImageCenter">
		<img src="/assets/IMG_0551.jpg" class="img－show" alt="cunli.jpg" width="460" height="600">
		<br/>
		<br/>
		<img src="/assets/IMG_0560.jpg" class="img－show" alt="niagara.jpg" width="700" height="460">
	</div>
	
</div>