/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'normalize';

$green: #33CD99;
$dark_gray: #2B2E2E;
$light_gray: #C0C1C1;

html, body {
	font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}

a {
	text-decoration: none;
	color: inherit;
}

#sidebar {
	width: 150px;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	background: $dark_gray;
	border-right: 5px solid $green;
	padding: 7em 0 0 0;
	
	#logo {
		width: 40px;
		position: absolute;
		right: 4em;
		top: 3em;
	}
	ul {
		list-style: none;
		text-align: right;
		padding-right: 3em;
		.category {
			font-weight: 700;
			font-size: 0.7em;
			text-transform: uppercase;
			color: $green;
		}
		li {
			padding: .5em 0;
			a {
				color: white;
				text-decoration: none;
				transition: all .4s ease;
				&:hover {
					color: $green;
				}
			}
		}
		.active {
			a {
				color: $green;
			}
		}
	}
	.sign_in {
		position: absolute;
		right: 3em;
		top: 80%;
		font-size: .8em;
		color: #9eafba;
	}
}

.button {
	outline: none;
	background-color: white;
	border: 1px solid $dark_gray;
	padding: .5em 1.5em;
	border-radius: 1.5em;
	&:hover {
		border: 1px solid $green;
		color: $green;
		a {
			color: $green !important;
		}
	}
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}


#header {
	margin-left: 150px;
	width:100%;
	padding-left: 3em;
	padding-right: 3em;
	padding-top: 2em;
	padding-bottom: 1.5em;
	border-bottom: 5px solid $green;
	border-left: 5px solid $dark_gray;
	background: $dark_gray;
	position: fixed;
	p {
		display: inline;
	}
	
	audio {
		width: 250px;
		margin-top: -1em;
		margin-left: 700px;
		float: right;
		position: fixed;
	}
	
	a {
		color: $dark_gray;
		text-decoration: none;
	}
	.buttons {
		float: left;
		margin-top: -1.5em;
		margin-left: 7em;
		position: fixed;
		color: $dark_gray;
		.button {
			font-size: 1.1em;
			font-weight: 800;
			margin-left: .5em;
		}
	}
	.home_button {
		float: left;
		margin-top: -1.5em;
		position: fixed;
		color: $dark_gray;
		.button {
			font-size: 1.1em;
			margin-left: .5em;
			font-weight: 800;
		}
	}
}
#main_content {
	padding-top: 4em;
	margin-left: 150px;
	background: white;
	.alert {
		margin-left: 3em;
	}
	.post_wrapper {
		padding: 3em;
		border-bottom: 2px solid $light_gray;
		.title {
			margin: 0;
			a {
				font-weight: 500;
				text-decoration: none;
				color: #2a2f35;
				font-size: 1.5em;
				&:hover {
					color: $green;
				}
			}
		}
		.date_and_author {
			color: #9eafba;
			margin: .5em 0 0 0;
		}
	}
	#post_content {
		margin-top: -1em;
		padding: 1em 3em;
		border-bottom: 1px solid $dark_gray;
		padding-bottom: 2em;
		background-color: white;
		.title {
			font-weight: 500;
			text-decoration: none;
			color: #2a2f35;
			font-size: 2.5em;
			margin-bottom: 0;
		}
		.body {
			font-size: 1.1em;
			line-height: 1.75;
			padding-bottom: 1em;
		}
		.date_and_author {
			color: #9eafba;
			margin: .5em 0 2em 0;
		}
		a {
			border: 1px solid $dark_gray;
			padding: .5em 1.5em;
			font-size: 0.8em;
			border-radius: 1.5em;
		}
	}
	#comments {
		padding-left: 3em;
		padding-right: 3em;
		background-color: white;
		border-top: 1px solid $dark_gray;
		h2 {
			margin: 1.5em 0 1em 0;
			border-bottom: 1px solid $dark_gray;
			padding-bottom: 0.5em;
		}
		h3 {
			margin-top: 2em;
		}
		.comment {
			border-bottom: 1px solid $dark_gray;
			
			.clear_both {
				clear: both;
			}
			&:after {
				clear: both;
			}
			.comment_content {
				float: left;
				.comment_name {
					
					font-size: 0.7em;
					text-transform: uppercase;
				}
				.comment_body {
					font-size: 1.2em;
					margin: 0.2em 0 0 0;
				}
				.comment_time {
					margin-top: 1.2em;
					font-size: .8em;
				}
			}
			.button {
				float: right;
				font-size: 0.8em;
			}
		}
	
		input[type="text"], textarea {
			width: 50%;
		}
	}


	#page_wrapper {
		margin-top: -1em;
		padding: 3em;
		background-color: white;
		#profile_image {
			width: 300px;
			float: left;
			margin-right: 2em;
			img {
				width: 100%;
				border-radius: 0.35em;
			}
		}
		#content {
			h1 {
				font-weight: 500;
			}
			p {
				font-size: 1.1em;
				line-height: 1.75;
			}
			a {
				color: $green;
				font-weight: 700;
				text-decoration: none;
			}
		}
	}
	.links {
		margin: 2em 0;
	}
	input[type="text"], input[type="email"], input[type="password"], textarea {
		width: 90%;
		border: 1px solid $dark_gray;
		border-radius: .35em;
		margin-top: 10px;
		padding: .5em 1em;
		line-height: 1.75;
	}
	input[type="text"] {
		height: 35px;
	}
	textarea {
		min-height: 180px;
	}
	input[type="submit"] {
		outline: none;
		background: $green;
		padding: .5em 1.5em;
		font-size: 1.1em;
		border-radius: 1.5em;
		font-weight: 700;
		color: white;
		&:hover {
			border: 1px solid $dark_gray;
			color: $dark_gray;
		}
	}
	.edit_button {
		a	{
			outline: none;
			background: transparent;
			border: 1px solid $dark_gray;
			padding: .5em 1.5em;
			font-size: 1.1em;
			border-radius: 1.5em;
			margin-left: .5em;
		}
	}
}

#about_page {
	background-color: white;
	padding-left: 3em;
	margin-top: -2em;
	h1 {
		margin: 0;
		padding-top: 1.5em;

	}
}

